<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @notice.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @notice.image %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
