.container {
  display: flex;
  width: 100%;
  height: 90vh;
}

.menu_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.menu_superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;

  background-color: var(--secondary);
  border-top: solid var(--primary);
  border-bottom: solid 1px var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content_superior_esquerda, .content_superior_direita {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.opcoes_lateral_esquerda, .opcoes_lateral_direita {
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item_jogo {
  cursor: pointer;
  margin: 0 60% 0 0;
}

.saldo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: auto;
  padding-left: 7%;
  margin-left: 7%;

  border-left: solid 1px white;
}

.content_superior_direita {
  width: 30%;
}

.opcoes_lateral_direita {
  width: 100%;
}

.points, .opcoes_jogador {
  display: flex;
  color: var(--white);
  cursor: pointer;
}

.points {
  margin-right: 30px;
}

.menu_lateral {
  background-color: var(--black);
  border-top: solid var(--primary);
  width: 25%;
  height: 90vh;
}

.content_jogar {
  display: flex;

  flex-direction: row;
  align-items: center;
  margin: 0 40% 0 20%;
}

.logo_jogar {
  font-size: 30px;
  border: solid 2px var(--primary);
  padding: 0 15%;

  margin: auto;

  font-size: 30px;
  border-radius: 50%;
  color: var(--white);
}

.jogar {
  font-size: 23px;
  color: var(--white);
  cursor: pointer;
  margin: 0 30% 0 5px;
}

.content_itens {
  color: var(--white);
  font-size: 13px;
  margin: 1% 0 0 4%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.itens_content_superior {
  cursor: pointer;
}

/* ------------------------------------------------------------------- */

.superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 9.59vh;

  background-color: var(--secondary);
  border-bottom: solid 1px var(--white);
}

.imagem_perfil {
  display: flex;

  border: solid 3px var(--primary);
  border-radius: 50%;

  margin: 0 12px 0 5px;

  padding: 0 22%;

  color: var(--white);
}

.letra_perfil {
  margin: auto;
}

.opcoes {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.opcoes_jogador {
  width: 15%;
}

.dados_perfil {
  display: flex;
  flex-direction: row;
}

.item_opcoes, .letra_perfil, .nome_perfil {
  color: var(--white);
  cursor: pointer;
}

.item_opcoes {
  margin: 0 7px;
}

.status_perfil {
  color: var(--green);
}

.nome_perfil, .status_perfil {
  font-size: 100%;
}

.lateral_nome_status {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.status_alarme {
  display: flex;
  flex-direction: row;
}

.itens_lateral {
  display: flex;
  flex-direction: row;
}

.amigos {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.amigos_opcoes {
  display: flex;
  flex-direction: row;

  width: 30%;

  justify-content: space-between;
}

.amigos_opcao {
  cursor: pointer;
}

.amigos_opcoes {
  margin: 3px 7px;
}

.social {
  margin: 3px 7px 0 7px;
  font-size: 20px;
}

/* ------------------------------------------------------------------- */

.abrir_dropdown {
  background-color: var(--secondary);
  color: var(--white);

  font-size: 15px;

  border: none;
  cursor: pointer;

  margin: 3px 7px 0 7px;
}

.dropdown_amigos_content{
  display: none;
  flex-direction: column;

  width: 100%;
}

.list_amigos {
  height: 63%;
}

.amigos_social {
  display: flex;
  flex-direction: row;

  margin: 15px 7px 7px 7px;
}

.show {
  display: flex;
}

.dados_amigos {
  margin-left: 4px;
}

.imagem_amigos {
  border: solid 2px var(--primary);
  border-radius: 50%;
  padding: 5% 7%;
}

.nome_amigos {
  font-size: 20px;
}

.status_amigos {
  color: var(--green);
  font-size: 14px;
}

.status_amigos_off {
  color: var(--gray);
  font-size: 14px;
}

/* ------------------------------------------------------------------- */

.clans {
  display: flex;
  flex-direction: column;

  margin: 15px 7px;
}

.clan, .group {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  color: var(--white);

  font-size: 25px;
  font-weight: bold;
}

.title_clan, .title_group {
  font-size: 16px;

  margin-left: 8px;
}

.status_group {
  font-size: 14px;
  font-weight: normal !important;

  margin-left: 8px;
}

/* ------------------------------------------------------------------- */

.separator_content {
  width: 100%;
  height: 45vh;
}

.content_notices {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 27vh;

  justify-content: space-around;
}

.notice {
  display: flex;
  flex-direction: column;

  width: 22%;
  height: 85%;
}

.title_notice {
  font-size: 15px;

  font-weight: normal;
}

.image_notice {
  width: 100%;
  height: 90%;
}
/* ------------------------------------------------------------------- */

.actions_lateral {
  display: flex;
  flex-direction: row;

  justify-content: center;

  width: 100%;
}

.lateral_mensagens, .lateral_bug, .lateral_missoes, .lateral_microfone {
  cursor: pointer;

  padding: 0 2.5%;
}

.lateral_mensagens, .lateral_missoes {
  margin-right: 4px;
}

.lateral_mensagens {
  border: solid 2px var(--primary);
}

.lateral_missoes {
  border-left: solid 2px var(--primary);
  border-top: solid 2px var(--primary);
}

.lateral_microfone {
  border-bottom: solid 3px var(--primary);
  border-top: solid 0.5px var(--white);
  border-left: solid 0.5px var(--white);
  border-right: solid 0.5px var(--white);
}

.lateral_versao {
  border-top: solid 0.5px var(--white);

  font-size: 12px;

  padding: 2% 14%;
}

.lateral_bug {
  border: solid 0.5px var(--white);
} 