<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :package_id %>
    <%= form.text_field :package_id %>
  </div>

  <div class="field">
    <%= form.label :champion_id %>
    <%= form.text_field :champion_id %>
  </div>

  <div class="field">
    <%= form.label :skin_id %>
    <%= form.text_field :skin_id %>
  </div>

  <div class="field">
    <%= form.label :chroma_id %>
    <%= form.text_field :chroma_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
