<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @store.package %>
</p>

<p>
  <strong>Champion:</strong>
  <%= @store.champion %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @store.skin %>
</p>

<p>
  <strong>Chroma:</strong>
  <%= @store.chroma %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
