<%= form_with(model: package, local: true) do |form| %>
  <% if package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
      <% package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :champion_id %>
    <%= form.text_field :champion_id %>
  </div>

  <div class="field">
    <%= form.label :skin_id %>
    <%= form.text_field :skin_id %>
  </div>

  <div class="field">
    <%= form.label :chroma_id %>
    <%= form.text_field :chroma_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
