<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @package.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @package.price %>
</p>

<p>
  <strong>Champion:</strong>
  <%= @package.champion %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @package.skin %>
</p>

<p>
  <strong>Chroma:</strong>
  <%= @package.chroma %>
</p>

<%= link_to 'Edit', edit_package_path(@package) %> |
<%= link_to 'Back', packages_path %>
