<%= form_with(model: chroma, local: true) do |form| %>
  <% if chroma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chroma.errors.count, "error") %> prohibited this chroma from being saved:</h2>

      <ul>
      <% chroma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :modification %>
    <%= form.text_field :modification %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
