<p id="notice"><%= notice %></p>

<h1>Chromas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Modification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chromas.each do |chroma| %>
      <tr>
        <td><%= chroma.name %></td>
        <td><%= chroma.price %></td>
        <td><%= chroma.description %></td>
        <td><%= chroma.modification %></td>
        <td><%= link_to 'Show', chroma %></td>
        <td><%= link_to 'Edit', edit_chroma_path(chroma) %></td>
        <td><%= link_to 'Destroy', chroma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chroma', new_chroma_path %>
