<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chroma.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @chroma.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chroma.description %>
</p>

<p>
  <strong>Modification:</strong>
  <%= @chroma.modification %>
</p>

<%= link_to 'Edit', edit_chroma_path(@chroma) %> |
<%= link_to 'Back', chromas_path %>
