<div class="amigos_social">
  <div class="imagem_amigos">
    <p class="letra_amigos">K</p>
  </div>

  <div class="dados_amigos">
    <p class="nome_amigos">Kunlight</p>
    <p class="status_amigos">MORRA MYSQL</p>
  </div>
</div>