<div class="amigos_social">
  <div class="imagem_amigos">
    <p class="letra_amigos">L</p>
  </div>

  <div class="dados_amigos">
    <p class="nome_amigos">Lucas</p>
    <p class="status_amigos_off">Tin meu deuso</p>
  </div>
</div>