<div class="menu_superior">
  <div class="content_superior_esquerda">
    <div class="content_jogar">
      <p class="logo_jogar">L</p>
      <p class="jogar">JOGAR</p>
    </div>

    <div class="opcoes_lateral_esquerda">
      <p class="item_jogo">Início</p>
      <p class="item_jogo">TFT</p>
      <p class="item_jogo">Clash</p>
    </div>
  </div>
  <div class="content_superior_direita">
    <div class="opcoes_lateral_direita">
      <%= image_tag("perfil.svg", :alt => "Perfil do usuário", :class => "opcoes_jogador perfil") %>
      <%= image_tag("mochila.svg", :alt => "Mochila para os itens do usuário", :class => "opcoes_jogador colecao") %>
      <%= image_tag("construcao.svg", :alt => "Modo de construção do usuário", :class => "opcoes_jogador construcao") %>
      <%= image_tag("loja.svg", :alt => "Loja para o usuário", :class => "opcoes_jogador loja") %>
    </div>
    
    <div class="saldo">
      <p class="points">120 points</p>
    </div> 
  </div>
</div>