<div class="menu_lateral">
  <div class="superior">

    <div class="dados_perfil">
      <div class="imagem_perfil">
        <p class="letra_perfil">G</p>
      </div>
      <div class="lateral_nome_status">
        <p class="nome_perfil">Guardiith</p>
        <div class="status_alarme">
          <p class="status_perfil">Pic mic</p>        
        </div>
      </div>
    </div>

    <div class="opcoes">
      <p class="item_opcoes">?</p>
      <p class="item_opcoes">_</p>
      <p class="item_opcoes"><%= image_tag("engrenagem.svg", :alt => "rss feed") %></p>
      <p class="item_opcoes">X</p>
    </div>

  </div>

  <div class="amigos">
    <p class="social">social</p>

    <div class="amigos_opcoes">
      <p class="amigos_opcao">A</p>
      <p class="amigos_opcao">B</p>
      <p class="amigos_opcao">C</p>
      <p class="amigos_opcao">D</p>
    </div>
  </div>

  <div class="clans">
    <div class="clan">
      <div class="estandarte">
        K
      </div>

      <p class="title_clan">Kunlight</p>
    </div>

    <div class="group">
      <div class="standart">
        R
      </div>

      <p class="title_group">RNGG</p>

      <p class="status_group">Os brabos têm nome</p>
    </div>
  </div>

  <div class="list_amigos">
    <div class="dropdown_amigos">
      <p class="abrir_dropdown">amigos (4/5)</p>
      <div id="myDropdown" class="dropdown_amigos_content">
        <%= render partial: "amigos" %>
        <%= render partial: "amigos" %>
        <%= render partial: "amigos" %>
        <%= render partial: "amigos" %>
        <%= render partial: "amigos_off" %>
      </div>
    </div>
  </div>

  <div class="actions_lateral">
    <p class="icon lateral_mensagens"><%= image_tag("chat.svg", :alt => "rss feed") %></p>
    <p class="icon lateral_missoes"><%= image_tag("notes.svg", :alt => "rss feed") %></p>
    <p class="icon lateral_microfone"><%= image_tag("microfone.svg", :alt => "rss feed") %></p>
    <p class="lateral_versao">V. 10.15</p>
    <p class="icon lateral_bug"><%= image_tag("bug.svg", :alt => "rss feed") %></p>
  </div>
</div>
