<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <main class="container">
      <div class="menu_content">

        <%= render partial: "menu_superior" %>
        <div class="content">
          <div class="content_itens">
            <p class="itens_content_superior">Visão geral</p>
            <p class="itens_content_superior">Evento</p>
            <p class="itens_content_superior">Notícias</p>
            <p class="itens_content_superior">Notas de atualização</p>
          </div>

          <div class="separator_content">
            
          </div>

          <div class="content_notices">

            <% teste = 0 %>

            <% Notice.all.each do |notice| %>

              <% if teste < 4 %>
                
                <div class="notice">
                  <%= image_tag(notice.image, :alt => "", :size => "150x220", :class => "image_notice") %>
                  <p class="title_notice"><%= notice.title %></p>
                  <a href="<% notice.url %>">Ver mais ➚</a>
                </div>

                <% teste = teste+1 %>

              <% end %>

            <% end %>

          </div>
        </div>
      </div>

      <%= render partial: "menu_lateral" %>
    </main>
  </body>
</html>