<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <main class="container">
      <div class="menu_content">
        <%= render partial: "menu_superior" %>
      </div>
    </main>
  </body>
</html>