<%= form_with(model: skin, local: true) do |form| %>
  <% if skin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skin.errors.count, "error") %> prohibited this skin from being saved:</h2>

      <ul>
      <% skin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :modification %>
    <%= form.text_field :modification %>
  </div>

  <div class="field">
    <%= form.label :chroma_id %>
    <%= form.text_field :chroma_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
