<p id="notice"><%= notice %></p>

<h1>Skins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Modification</th>
      <th>Chroma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skins.each do |skin| %>
      <tr>
        <td><%= skin.name %></td>
        <td><%= skin.price %></td>
        <td><%= skin.description %></td>
        <td><%= skin.modification %></td>
        <td><%= skin.chroma %></td>
        <td><%= link_to 'Show', skin %></td>
        <td><%= link_to 'Edit', edit_skin_path(skin) %></td>
        <td><%= link_to 'Destroy', skin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skin', new_skin_path %>
