<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skin.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @skin.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skin.description %>
</p>

<p>
  <strong>Modification:</strong>
  <%= @skin.modification %>
</p>

<p>
  <strong>Chroma:</strong>
  <%= @skin.chroma %>
</p>

<%= link_to 'Edit', edit_skin_path(@skin) %> |
<%= link_to 'Back', skins_path %>
