* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: red;
  position: relative;
  display: flex;
}

body {
  background: url('zoe-fundo.jpg') no-repeat center top fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width: 95%;
  height: 90vh !important;
  margin: 2.2% auto;
}

p {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--white);
}

*, button, input {
  border: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.container {
  display: flex;
}

/* PALETA DE CORES PADRÕES DO SISTEMA */

:root {
  --primary: #daa520;
  --secondary: #11111100;
  --green: #04d362;
  --black: #111111;
  --white: #fefefe;
  --gray: #aaaaaa;
  --color-notice: #aaa000;
}