<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @champion.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @champion.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @champion.description %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @champion.skin %>
</p>

<%= link_to 'Edit', edit_champion_path(@champion) %> |
<%= link_to 'Back', champions_path %>
